---
layout: index
title: 'Zhiqiang 博客'
---
{% include JB/setup %}

<div class="row post-view-list">
  {% assign post_view_excerpt = true %}
  {% for post in paginator.posts %}
    {% include themes/kinsprite/post_view.html %}
  {% endfor %}
  {% assign post_view_excerpt = nil %}
</div>
<hr>

{% if paginator.total_pages > 1 %}
<ul class="pagination">
  {% if paginator.previous_page %}
    <li class="prev"><a href="{{ paginator.previous_page_path | prepend: BASE_PATH | replace: '//', '/' }}">&laquo; {{ site.data.i18n.text.previous_page }}</a></li>
  {% else %}
    <li class="prev disabled"><span>&larr; {{ site.data.i18n.text.previous_page }}</span></li>
  {% endif %}
  
  {% if paginator.next_page %}
    <li class="next"><a href="{{ paginator.next_page_path | prepend: BASE_PATH | replace: '//', '/' }}">{{ site.data.i18n.text.next_page }} &raquo;</a></li>
  {% else %}
    <li class="next disabled"><span>{{ site.data.i18n.text.next_page }} &rarr;</span>
  {% endif %}
  
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="active"><span>{{ page }}</span></li>
    {% elsif page == 1 %}
      <li><a href="{{ '/' | prepend: BASE_PATH | replace: '//', '/' }}">{{ page }}</a></li>
    {% else %}
      <li><a href="{{ '/' | append: site.paginate_path | prepend: BASE_PATH | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}