<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">主页</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                <em>Zhiqiang Qin</em><br />
                个人网站: <a href="http://qinzhiqiang.cn">qinzhiqiang.cn</a><br />
                电子邮箱: <a href="mailto:qxqs11@126.com">qxqs11@126.com</a><br />
              </p>
            </div>
            <div class="contact">
              <p>
                <strong>C++(98/03/11)</strong>, C<br />
                C#, Java, Python, D, HTML, CSS, NSIS, SQL<br />
                Windows, Linux<br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
